{% extends "base.html" %}
{% block content %}
<h2>Регистрация</h2>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flash-messages">
      {% for cat, msg in messages %}
        <li class="flash-{{ cat }}">{{ msg }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<form method="post">
    {{ form.hidden_tag() }}
    {{ form.first_name(placeholder="Имя") }}<br>
    {{ form.last_name(placeholder="Фамилия") }}<br>
    {{ form.phone(placeholder="Телефон") }}<br>
    {{ form.email(placeholder="Email") }}<br>
    {{ form.password(placeholder="Пароль") }}<br>
    {{ form.submit(class="btn") }}
</form>
{% endblock %}